.terminal-header {
    width: 100%;
    height: 30px;
    background-color: #1d1c1c;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    .fake-button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        margin-right: 8px;
        display: inline-block;

        &.exit {
            background-color: #ff5f56;
        }

        &.resize {
            background-color: #ffbd2e;
        }

        &.minimize {
            background-color: #27c93f;
        }
    }
}

.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #313030;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    input {
        font-size: 20px;
        border-radius: 8px;
        border: 1px solid transparent;
        padding: 8px;
    }

    input:hover {
        border-color: #646cff;
    }

    .basic-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 15px;

        .content-data {
            border: 1px solid #555;
            padding: 8px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-radius: 8px;
            gap: 16px;
            align-items: center;
            background-color: rgb(73, 69, 69);
            /* background-color: #646cff; */
            color: black;

            .title,
            .value {
                margin: 0;
            }

            .title {
                font-family: 'Hack Nerd Font Bold', sans-serif;
            }
        }

        .content-data:hover {
            background-color: #535bf2;
            color: white;
        }
    }
}

.search-container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    width: 100%;

    input {
        width: 66%;
    }

    button {
        width: 33%;
    }
}